@import "../mixins";

* {
  transition: ease all .48s .001s,
              linear opacity .24s .40s;
}

.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;

  app-nav {
    flex: 1 0;
  }

  section.content {
    flex: 0 1;
    opacity: 0;
    width: 0; // TODO: workaround for pressing app-nav just after animation started
  }
}

.root.nav-folded {
  app-nav {
    flex: 0 1;
  }

  section.content {
    flex: 1 0;
    opacity: 1;
    padding: 16px;
  }
}

@media screen and (max-width: @mobile-width) {
  .root.nav-folded {
    align-items: stretch;
    flex-direction: column;

    section.content {
      flex: 0;
      width: initial;
      margin: 36px 0 0;
    }
  }
}
